<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145142242234-hapugqc7ju41pdim176ac5djbsjajl0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145142242234-hapugqc7ju41pdim176ac5djbsjajl0n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>145142242234-mcn4i179np03jo3t4smg6al0cpm8rt80.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALKb5xkQnflEMboYxX2G7hsuffwhE-R8g</string>
	<key>GCM_SENDER_ID</key>
	<string>145142242234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neurocheckpro.ios</string>
	<key>PROJECT_ID</key>
	<string>neuro-check-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>neuro-check-pro.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145142242234:ios:5c9a93b85b809b25eadb83</string>
</dict>
</plist>